.idea/
.gradle/
build/
com.qulix.zakrevskynp.trainingtask.web/build/
com.qulix.zakrevskynp.trainingtask.web/lib/
docs/
lib/
com.qulix.zakrevskynp.trainingtask.web/src/main/java/com/qulix/zakrevskynp/trainingtask/web/util/TasksSort.java
com.qulix.zakrevskynp.trainingtask.web/src/main/java/com/qulix/zakrevskynp/trainingtask/web/util/Sort.java
com.qulix.zakrevskynp.trainingtask.web/src/main/java/com/qulix/zakrevskynp/trainingtask/web/util/ProjectsSort.java
